# Ride Price prediction project

In [1]:
import kagglehub
import os

path = kagglehub.dataset_download("ravi72munde/uber-lyft-cab-prices")
print(os.listdir(path))
print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ravi72munde/uber-lyft-cab-prices?dataset_version_number=4...

100%|██████████| 73.5M/73.5M [00:00<00:00, 181MB/s]

Extracting files...

['cab-weather data', 'cab_rides.csv', 'Cab-Weather Data', 'weather.csv']
Path to dataset files: /root/.cache/kagglehub/datasets/ravi72munde/uber-lyft-cab-prices/versions/4

In [ ]:
import pandas as pd
df=pd.read_csv(os.path.join(path, "cab_rides.csv"))
df.describe()

<bound method NDFrame.head of         distance cab_type     time_stamp    destination            source  \
0           0.44     Lyft  1544952607890  North Station  Haymarket Square
1           0.44     Lyft  1543284023677  North Station  Haymarket Square
2           0.44     Lyft  1543366822198  North Station  Haymarket Square
3           0.44     Lyft  1543553582749  North Station  Haymarket Square
4           0.44     Lyft  1543463360223  North Station  Haymarket Square
...          ...      ...            ...            ...               ...
693066      1.00     Uber  1543708385534      North End          West End
693067      1.00     Uber  1543708385534      North End          West End
693068      1.00     Uber  1543708385534      North End          West End
693069      1.00     Uber  1543708385534      North End          West End
693070      1.00     Uber  1543708385534      North End          West End

        price  surge_multiplier                                    id  \
0         5.0               1.0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7
1        11.0               1.0  4bd23055-6827-41c6-b23b-3c491f24e74d
2         7.0               1.0  981a3613-77af-4620-a42a-0c0866077d1e
3        26.0               1.0  c2d88af2-d278-4bfd-a8d0-29ca77cc5512
4         9.0               1.0  e0126e1f-8ca9-4f2e-82b3-50505a09db9a
...       ...               ...                                   ...
693066   13.0               1.0  616d3611-1820-450a-9845-a9ff304a4842
693067    9.5               1.0  633a3fc3-1f86-4b9e-9d48-2b7132112341
693068    NaN               1.0  64d451d0-639f-47a4-9b7c-6fd92fbd264f
693069   27.0               1.0  727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e
693070   10.0               1.0  e7fdc087-fe86-40a5-a3c3-3b2a8badcbda

                                  product_id          name
0                                  lyft_line        Shared
1                               lyft_premier           Lux
2                                       lyft          Lyft
3                                lyft_luxsuv  Lux Black XL
4                                  lyft_plus       Lyft XL
...                                      ...           ...
693066  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL
693067  55c66225-fbe7-4fd5-9072-eab1ece5e23e         UberX
693068  8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a          Taxi
693069  6d318bcc-22a3-4af6-bddd-b409bfce1546     Black SUV
693070  997acbb5-e102-41e1-b155-9df7de0a73f2      UberPool

[693071 rows x 10 columns]>

# Data Preprocessing

In [ ]:
pd.to_datetime(df["time_stamp"], unit='ms')

0        2018-12-16 09:30:07.890
1        2018-11-27 02:00:23.677
2        2018-11-28 01:00:22.198
3        2018-11-30 04:53:02.749
4        2018-11-29 03:49:20.223
                   ...
693066   2018-12-01 23:53:05.534
693067   2018-12-01 23:53:05.534
693068   2018-12-01 23:53:05.534
693069   2018-12-01 23:53:05.534
693070   2018-12-01 23:53:05.534
Name: time_stamp, Length: 693071, dtype: datetime64[ns]

## Understansing the data

In [ ]:
from matplotlib import pyplot as plt